.mount {
    margin: auto;
    margin-top: 20px;
    width: 65%;
    height: 100%;
  }
  
  p,
  ul {
    font-family: "Montserrat";
    color: #fff;
    line-height: 25px;
  }
  
  ul {
    margin-top: 10px;
    margin-left: 25px;
    list-style-type: none;
  }
  
  li {
    padding-top: 3px;
  }
  
  .form-btns{
    display: flex;
    justify-content: center;
  }
  
  .form-btns form {
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 25px;
  }